{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="about">
                <p>India's Beloved
                    Bike Taxi Service
                    We are not an option, we are a choice
                    We're #1 choice of 10 Million people because we're the solution of India's intra-city commuting problems. With assured safety, we also provide economically priced rides.
                    What makes us different?
                    Our bike taxis can dodge the traffic during peak hours and get you to the destination in a jiffy! So when you think travel, think Taxi Booking</p>
            </div>
        </div> 
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuEUffkDJWhK5mTPLU_kUDXPkSXu3ArEPWldrqSvIVQX02axC1u4LbArXVCQdSoNpVs7Q&usqp=CAU" style="width:300px;height:300px;float:center;" class="img-fluid rounded">
                    </div>
                    <div class="col">
                        <img src="https://media.istockphoto.com/id/943807268/photo/people-are-on-motorbikes-in-huge-asian-city.jpg?s=612x612&w=0&k=20&c=_bfmcA7bhVaZnfH3WD6V4GvrzHJ6vgE-_UERJcgRmoc=" style="width:300px;height:300px;float:center;" class="img-fluid rounded">
                    </div>
                </div>
                  
                      
        </div>
    </div>
</div>
<div class="jobs">
    <div class="sub_job">
        <p>Jobs @ Taxi booking</p>
    <p style="font-size:25px;padding:5px;">Join us in exploring a world of endless opportunities. Let's find a spot for you.</p>
    <div class="job_link">
        <a href="careers">Work with Us</a>
    </div>
    </div>
</div>

{% endblock %}