{% extends 'base.html' %}

 {% block content %}
 <div class="container my-5 border-2 rounded">
    <div class="safety_sub">
    <h2 class="mb-3">Safety for all</h2>
    <p class="fs-5 mb-4">At Taxi Booking, the well-being of Our customers is above everything else. We are constantly in pursuit of enhancing our
    safety measures to ensure every Taxi Booking ride is pleasent and comfirtable experience.
    </p>
</div>
</div>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-4 ">
               <div class="card mb-2">
                <img class="card-img-top img-fluid" src="https://rvtechnologies.com/assets/images/taxi_services_img.webp" style="height:270px;"  >
                <div class="card-body">
                    <h4 class="card-title my-3">
                        For Customers
                    </h4>
                    <p class="card-text">
                        Every ride is tracked by Taxibooking, with access a granular latitudinal and langitudinal data. 
                    </p>
                </div>
               </div>
            </div>
            <div class="col-12 col-md-4">

            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img class="card-img-top img-fluid" src="https://media.istockphoto.com/id/1470035625/photo/driver-transporting-a-business-man-on-a-crowdsourced-taxi.jpg?s=612x612&w=0&k=20&c=HbVWN87JGim9g0CDhh2NHPM8oZ1g4qVGx86vxJ5RM24=">
                    <div class="card-body">
                        <h4 class="card-title my-3">
                            For Captains
                        </h4>
                        <p class="card-text">
                            From hiring to training to monitoring to ongoing checks, We take all necessary
                            steps to ensure our Captains safety.
                        </p>
                    </div>
                   </div>
            </div>
        </div>
    </div>
    <div class="container my-5 bg-warning">
        <div class="row">
            <div class="col-12 col-md-6 p-5">
                    <div class="insurence">
                        <h3>Insurence</h3>
                        <p class="my-5 fs-5">
                            Insurence can be claimed for any accident that occures during the ride covering OPD treatement and 
                            hospitalization, and accidental benifits with maximum sum insured of 2 Lakh.  It can be claimed
                            as soon as the ride.
                        </p>
                    </div>
            </div>
            <div class="col-12 col-md-6 p-5">
                <div class="support">
                    <h3>24X7 Customer support</h3>
                    <p class="my-5 fs-5">
                       Both,our captains and customers report any kind of issues to taxi booking
                       through the 24*7 customer support feature on the app post during the ride.
                    </p>
                </div>
        </div>
        </div>
    </div>
 {% endblock %}