{% extends 'navigation_booking.html' %}

{% block content %}

<h1 style="text-align: center;margin-top: 50px;">History</h1>

<div class="container my-5">

    {% for book in booking %}

    <table class="table table-borderless">
        <thead>
            <th>Traveler Name</th>
            <th>Pickup Location</th>
            <th>Drop Location</th>
            <th>Driver Name</th>
            <th>Date</th>
            <th>Fare</th>
        </thead>
        <tbody>
                        {% for customer in customer %}
                        <td>{{customer.customer_name}}</td>
                        {% endfor %}
    
            <td>{{book.pickup}}</td>
            <td>{{book.destination}}</td>
                {% for driver in driver %}
                <td>{{driver.driver_name}}</td>
                {% endfor %}
            <td>{{book.booking_date}}</td>
            <td>{{book.fare}}</td>
        </tbody>
    </table>

    {% endfor %}

</div>

{% endblock %}